button, .btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  border: 1px solid var(--gray-300);
  border-radius: .375rem;
  color: var(--text);
  padding: .375rem .625rem;
  background: transparent;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  transition: .3s ease;

  svg {
    color: var(--gray-500);
  }

  &:hover {
    background: var(--gray-100);
  }
}