select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid var(--form-el-border);
  border-radius: .375rem;
  padding: .5rem .5rem .5rem .75rem;
  background: var(--body-bg);
  color: var(--text);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"> <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" /> </svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 1.25rem;
  transition: .3s ease;
  &:hover {
    border-color: var(--form-el-border-hover);
  }
}

[data-theme="dark"] select {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"> <path stroke="gray" stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" /> </svg>');
}

label {
  display: block;
  font-size: .875rem;
  color: var(--text);
  margin-bottom: .5rem;
}