:root {
  --brand: #f05b4a;
  --bg: #faf9f5;
  --text: #222222;
  --muted: #6b7280;
  --accent: #2563eb;
  --border: #e3dacc;
  --white: #FFFFFF;
  --red: #EE4B2B;
  --radius: .5rem;
  --max-width: 960px;
  --focus-ring: .25rem;
  --gray-25: #FCFCFD;
  --gray-50: #F9FAFB;
  --gray-100: #F2F4F7;
  --gray-200: #EAECF0;
  --gray-300: #D0D5DD;
  --gray-400: #98A2B3;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-800: #1D2939;
  --gray-900: #101828;
}