:root {
  --brand: #f05b4a;
  --bg: #f3f4f6;
  --body-bg: #f9fafb;
  --header-bg: #e5e7eb;
  --postcard-bg: #ffffff;
  --text: #0f172a;
  --muted: #6b7280;
  --accent: #1d4ed8;
  --border: #d1d5db;
  --form-el-border: #d1d5db;
  --form-el-border-hover: #9ca3af;
  --btn-bg-hover: #e5e7eb;
  --white: #FFFFFF;
  --red: #EE4B2B;
  --radius: .5rem;
  --max-width: 960px;
  --focus-ring: .25rem;
  --gray-25: #FCFCFD;
  --gray-50: #F9FAFB;
  --gray-100: #F2F4F7;
  --gray-200: #EAECF0;
  --gray-300: #D0D5DD;
  --gray-400: #98A2B3;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-800: #1D2939;
  --gray-900: #101828;
}

:root[data-theme="dark"] {
  color-scheme: dark;
  --bg: #181818;
  --body-bg: #181818;
  --header-bg: #272727;
  --border: #383838;
  --select-bg: #FFFFFF;
  --text: #c2c2c2;
  --form-el-border: #3a3a3a;
  --form-el-border-hover: #5C5C5C;
  --postcard-bg: #272727;
  --muted: #98a0b0;
  --btn-bg-hover: #181818;
  --accent: #5781f8;
}

:root[data-theme="sage"] {
  color-scheme: light;
  --brand: #1F766F;
  --accent: #2F9E93;
  --bg: #F3F5F4;
  --body-bg: #E5EFEC;
  --header-bg: #D1E3DC;
  --postcard-bg: #FFFFFF;
  --text: #102A26;
  --muted: #64746E;
  --border: #C5D6CF;
  --form-el-border: #C5D6CF;
  --form-el-border-hover: #94B2A8;
  --btn-bg-hover: #E2ECE7;
  --select-bg: #FFFFFF;
}

:root[data-theme="energy"] {
  color-scheme: dark;
  --brand: #E20007;
  --accent: #C70007;
  --bg: #120001;
  --body-bg: #120001;
  --header-bg: #250002;
  --postcard-bg: #250002;
  --text: #fef2f2;
  --muted: #fecaca;
  --border: #7F0014;
  --form-el-border: #7F0014;
  --form-el-border-hover: #C70007;
  --btn-bg-hover: #7F0014;
  --select-bg: #250002;
}

:root[data-theme="rose-pastel"] {
  color-scheme: light;
  --brand: #8D000E;
  --accent: #e87681;
  --bg: #F3E9E9;
  --body-bg: #F3E9E9;
  --header-bg: #8D000E;
  --postcard-bg: #FFFFFF;
  --text: #393231;
  --muted: #7b6a66;
  --border: #E3CAC3;
  --form-el-border: #E3CAC3;
  --form-el-border-hover: #d4b5ab;
  --btn-bg-hover: #F3E9E9;
  --select-bg: #FFFFFF;
}