main {
  width: 100%;
  max-width: 60rem;
  padding: 0 1rem;
  margin: 0 auto;
  .main-content {
    margin: 6.25rem 0 3.125rem;
  }
}

#posts {
  width: 100%;
  column-width: 290px;
  column-gap: 1rem;
}