header#main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: .5rem 1rem;
  background: var(--bg);
  border-bottom: 1px solid var(--border);
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__nav {
    ul {
      li {
        list-style-type: none;
      }
    }
  }
}

.nav-link {
  font-size: 1rem;
  font-weight: 500;
  color: var(--brand);
  text-decoration: none;
  transition: .3s ease;

  &:hover {
    text-decoration: underline;
  }
}

main {
  width: 100%;
  max-width: 60rem;
  padding: 0 1rem;
  margin: 0 auto;
  .main-content {
    margin: 6.25rem 0 3.125rem;
  }
}

#posts {
  width: 100%;
  column-width: 290px;
  column-gap: 1rem;
}